
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description"
    content="Local Wiki - Collaborative, community-owned local media" />
<link rel="image_src"
    href="http://localwiki.org/static/img/big_logo.png"/ >
<meta name="keywords"
    content="Local, Wiki, Local Wiki, Davis, Wiki, DavisWiki, Davis Wiki, Philip Neustrom, Knight Foundation, News" />

<link rel="stylesheet" type="text/css" href="/static/css/screen.css?v=5" />
<link rel="stylesheet" href="/static/css/typefaces.css" type="text/css"
    media="screen" />
<link rel="shortcut icon" href="/static/img/tinylogo_tiny2.png"
    type="image/png" />
<link rel=alternate type="application/rss+xml" href="/feeds/latest" title="LocalWiki blog RSS feed"> 
<title>LocalWiki - Collaborative,
community-owned local media</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25465476-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
<div id="everything">

<div id="header"><a href="/"><img
    src="/static/img/logo.png" /></a></div>

<div id="transparent"></div>

<div id="slogan">
<h1>Connecting the people, places and events that shape our
communities.</h1>
</div>

<div id="main" style="min-height: 300px;">


<div class="content_title"></div>

<div class="blog">
    {% block content %}{% endblock %}
</div>

</div>
</body>

</html>
