<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>LocalWiki Contributor License Agreement</title>
	
	<style media="all"> 
    pre {
      background: #f2f2f2;
      padding: 1em;
    }
 
    body {
      max-width: 40em;
      padding: 3em;
    }
    ol {
    }
    li {
      padding: 0;
      margin: 1em;
    }
    
    #signelectronically {
      padding-top: 1em;
    }
    form div {
      width: 500px;
      padding-bottom: 1em;
    }
    form textarea {
      width: 500px;
    }
    form label {
      font-weight: bold;
      display: block;
    }
    .required-asterisk {
      color: #CC3434;
      font-size: small;
    }
    .help_text {
      display: block;
      font-size: small;
    }
    
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
      list-style-type: none;
      margin-left: 0;
      margin: 0;
      padding: 0;
      color: #CC3434;
    }
    
    #humannote {
      font-style: italic;
      color: #747474;
    }
 
  </style> 
  <style media="print"> 
    body {
      max-width: 1000em;
      padding: 1em;
    }
    pre {
      background: #fff;
      padding: 1em;
    }
    #signelectronically { display: none; }
    #humannote { display: none; }
  </style> 
	
</head>

<body {% if form.errors %}onLoad="location.href='#errors';"{% endif %}>
  
<div id="humannote">
This agreement is for your protection as well as the protection of the project; it does not change your rights to use your own contributions for any other purposes.  This agreement helps us protect the project from potentially annoying and hairy legal claims (by, say, employers).  This agreement is modeled after the <a href="http://nodejs.org/cla.html">node.js agreement</a>.
</div>

  <h1>LocalWiki</h1> 
<h2>Contributor License Agreement (&quot;Agreement&quot;)</h2> 
 
 
<p> 
Thank you for your interest in the LocalWiki open source
project being administered by Wiki Spot.  Wiki Spot is a 501(c)3 non-profit organization.
The form of license below is a document that
clarifies the terms under which You, the person listed
below, may contribute software, bug fixes, configuration
changes, documentation, or any other materials that you send
to us related to the Project (each a &quot;Contribution&quot;) to the
project.  We appreciate your participation in our project,
and your help in improving the project, so we want you to
understand what will be done with the Contributions.  This
license is for your protection as well as the protection of
Wiki Spot and its licensees; it does not change your rights to
use your own Contributions for any other purpose.  Please
complete the following information about you and the
Contributions and send us an original signed Agreement at
 
<p> 
LocalWiki <br/> 
PO Box 401044 <br/>
San Francisco, CA 94140-1044<br/> 
U.S.A.
 
<p> 
Scanned agreements may also be emailed in PDF format to
philip@localwiki.org. You should also keep a copy for your own
records.
 
<p> 
If you have questions about these terms, please contact us
at philip@localwiki.org.
 
 
<pre> 
Full name: _________________________________________________
 
Mailing Address: ___________________________________________
 
____________________________________________________________
 
Country:   _________________________________________________
 
Telephone: _________________________________________________
 
Facsimile: _________________________________________________
 
E-Mail:    _________________________________________________
</pre> 
 
 
<h3>Corporate Contributions:</h3> 
 
<p> 
If you are employed as a software engineer, or if your
employer is in the business of developing software, or
otherwise may claim rights in the Contributions, please
provide information about your employer's policy on
contributing to open source projects, including the name of
the supervisor to contact in connection with such
contributions:
 
<pre> 
 
____________________________________________________________
 
____________________________________________________________
 
____________________________________________________________
</pre> 
 
 
 
<h3>You and Wiki Spot agree:</h3> 
 
<ol> 
 
<li> 
You grant us the ability to use the Contributions in any
way.  You hereby grant to Wiki Spot, a non-exclusive,
irrevocable, worldwide, royalty-free, sublicenseable,
transferable license under all of Your relevant intellectual
property rights (including copyright, patent, and any other
rights), to use, copy, prepare derivative works of,
distribute and publicly perform and display the
Contributions on any licensing terms, including without
limitation: open source licenses like the GNU General
Public License (GPL), the GNU Lesser General Public License
(LGPL), the MIT License (MIT), the Common Public License, or the Berkeley Software
Distribution license (BSD).
Except for the licenses granted herein, You reserve all right, title, and interest in and to the Contribution.
 
<li> 
You are able to grant us these rights.  You represent
that You are legally entitled to grant the above license.
If Your employer has rights to intellectual property that
You create, You represent that You have received permission
to make the Contributions on behalf of that employer, or
that Your employer has waived such rights for the
Contributions.
 
<li> 
The Contributions are your original work.  You represent
that the Contributions are Your original works of
authorship, and to Your knowledge, no other person claims,
or has the right to claim, any right in any invention or
patent related to the Contributions.  You also represent
that You are not legally obligated, whether by entering into
an agreement or otherwise, in any way that conflicts with
the terms of this license.  For example, if you have signed
an agreement requiring you to assign the intellectual
property rights in the Contributions to an employer or
customer, that would conflict with the terms of this
license.
 
<li> 
We determine the code that is in our project.  You
understand that the decision to include the Contribution in
any project or source repository is entirely that of Wiki Spot,
and this agreement does not guarantee that the Contributions
will be included in any product.
 
<li> 
No Implied Warranties.  Wiki Spot acknowledges that, except
as explicitly described in this Agreement, the Contribution
is provided on an &quot;AS IS&quot; BASIS, WITHOUT WARRANTIES OR
CONDITIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED,
INCLUDING, WITHOUT   LIMITATION, ANY WARRANTIES OR
CONDITIONS OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY, OR
FITNESS FOR A PARTICULAR PURPOSE.
</ol> 
 
 
<pre> 
 
 
Please sign: _______________________________________________
 
Date: ______________________________________________________
</pre> 
</div> 
 
<div id="signelectronically">
  
<a name="errors"/>
{% if form.errors %}
<ul class="errorlist">
  <li>Please correct the errors below</li>
</ul>
{% endif %}

<h2>Sign Electronically</h2> 

<form action="" method="post">
{{ form.non_field_errors }}
<div><label for="id_full_name">Full name <span class="required-asterisk">*</span></label>
  {{ form.full_name.errors }}
  {{ form.full_name }}
  </div>

<div><label for="id_email">Email <span class="required-asterisk">*</span></label>
  {{ form.email.errors }}
  {{ form.email }}
  </div>

<div><label for="id_mailing_address">Mailing address <span class="required-asterisk">*</span></label>
  {{ form.mailing_address.errors }}
  {{ form.mailing_address }}
  </div>

<div><label for="id_country">Country <span class="required-asterisk">*</span></label>
  {{ form.country.errors }}
  {{ form.country }}
  </div>

<div><label for="id_telephone_number">Telephone number <span class="required-asterisk">*</span></label>
  {{ form.telephone_number.errors }}
  {{ form.telephone_number }}
  </div>
  
<div><label for="id_fax_number">Fax number</label>
  {{ form.fax_number.errors }}
  {{ form.fax_number }}
  </div>
  
<div><label for="id_corporate_contributor_information">Corporate contributor information</label>
  <span class="help_text">
     If you are employed as a software engineer, or if your employer is in
     the business of developing software, or otherwise may claim rights in the Contributions, 
     please provide information about your employer's policy on contributing to open source 
     projects, including the name of the supervisor to contact in connection with such 
     contributions:
  </span>
  {{ form.corporate_contributor_information.errors }}
  {{ form.corporate_contributor_information }}
  </div>
  
<div><label for="id_signature">Electronic signature <span class="required-asterisk">*</span></label>
  <span class="help_text">Type "I AGREE" to accept the terms above</span>
  {{ form.signature.errors }}
  <input id="id_signature" type="text" name="signature" maxlength="255">
  </div>
<input type="submit" value="Submit">
</form>

</div>

</body>
</html>
