<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Local Wiki - Collaborative, community-owned local media"/>
<link rel="image_src" href="http://localwiki.org/static/img/big_logo.png" / >

<meta name="keywords" content="Local, Wiki, Local Wiki, Davis, Wiki, DavisWiki, Davis Wiki, Philip Neustrom, Knight Foundation, News" />

<link rel="stylesheet" type="text/css" href="/static/css/screen.css?v=2" />
<link rel="stylesheet" href="/static/css/typefaces.css" type="text/css" media="screen" />
<link rel="shortcut icon" href="/static/img/tinylogo_tiny2.png" type="image/png"/>

<title>LocalWiki - About</title>

</head>

<body>

<div id="everything">

	<div id="header">
		<a href="/"><img src="/static/img/logo.png"/></a>
	</div>
	
	<div id="transparent">
	</div>
	
	<div id="slogan">
		<h1>Connecting the people, places and events that shape our communities.</h1>
	</div>
	
	<div id="mainGeneral">
                <div style="padding:1.4em; padding-top: 2.2em; padding-bottom: 80px">
                <h1>About LocalWiki</h1>
	        <p>
LocalWiki is a project of Wiki Spot, a 501(c)(3) <a href="http://www2.guidestar.org/organizations/26-1722486/wiki-spot.aspx">nonprofit</a> community improvement organization based in San Francisco, California. 
</p>
<p>The LocalWiki project is being led primarily by Philip Neustrom and Mike Ivanov, the co-founders of the <a href="http://daviswiki.org">Davis Wiki</a>.  There's a lot more people involved &mdash; we'll add their names here shortly!</p>

<p>
We're best known for <a href="http://daviswiki.org/">Davis Wiki</a>, which Harvard's Nieman Journalism Lab <a 
href="http://www.niemanlab.org/2009/11/welcome-to-davis-calif-six-lessons-from-the-worlds-best-local-wiki/">recently called "The world's best local wiki"</a>.  
</p>
<h1>Contact</h1>
<p>
Email: contact@localwiki.org  (best)
<br />
Phone: +1 (510) 495-1439  (California)
</p>

                </div>
                <div id="footer" style="margin-top: -5em;">
		{% include "nav.html" %}
		<div class="note">
			<p>For questions, media inquiries or, well, just about anything, email <a href="mailto:contact@localwiki.org">contact@localwiki.org</a>.</p>
<p>{#Supported by a Knight News Challenge grant from the <a href="http://knightfoundation.org">John S. and James L. Knight Foundation</a>.#} We are a 501(c)3 non-profit organization. Content on this site is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 Unported License</a>.</p>
		</div>
                </div>
	</div>

</div>

</body>

</html>
