{% extends "base.html" %}

{% block content %}
<div class="page">

<div class="section overview">
    <h2 id="title">About LocalWiki</h2>
    <p>
        LocalWiki is a project of Wiki Spot, a 501(c)(3) <a href="http://www2.guidestar.org/organizations/26-1722486/wiki-spot.aspx">nonprofit</a> community improvement organization based in San Francisco, California.
    </p>
    <p>
        The LocalWiki project is being led primarily by Philip Neustrom and Mike Ivanov, the co-founders of the <a href="http://daviswiki.org">Davis Wiki</a>.  There's a lot more people involved &mdash; we'll add their names here shortly!
    </p>
    <p>
        We're best known for <a href="http://daviswiki.org/">Davis Wiki</a>, which Harvard's Nieman Journalism Lab <a
        href="http://www.niemanlab.org/2009/11/welcome-to-davis-calif-six-lessons-from-the-worlds-best-local-wiki/">recently called "The world's best local wiki"</a>.
    </p>
    <h2>Contact</h2>
    <p>
        Email: contact@localwiki.org  (best)
        <br />
        Phone: +1 (510) 495-1439  (California)
    </p>
</div>
<div class="section supporters essentialSupporters">
        <h2>Essential Supporters</h2>
        <ul>
            <li>
                <a href="http://www.knightfoundation.org"><img
                src="{{ STATIC_URL }}img/kflogo_small.png"></a>
            </li>
            <li>
                <a href="http://www.wikihow.com">
                <div class="logo"><img src="{{ STATIC_URL }}img/wikihow.png"
                    alt="WikiHow - The How to manual that you can edit" />
                </div> </a>
            </li>
            <li>
                <a href="http://davisbikecollective.org"><img
                src="{{ STATIC_URL }}img/davis_bike_collective.png"
                alt="Davis Bike Collective" /></a>
            </li>
            <li>
                <a href="https://profiles.google.com/grahamjmfreeman/about">
                <div class="name">
                    Graham Freeman
                </div> </a>
            </li>
            <li>
                <div class="name">
                    Angela Clark
                </div>
            </li>
            <li>
                <div class="name">
                    Anonymous
                </div>
            </li>
            <li>
                <div class="name">
                    Travis Grathwell
                </div>
            </li>
        </ul>
  </div>
  <div class="section supporters foundingSupporters">
        <h2>Founding Supporters</h2>
        <ul>
            <li>
                Jim Ratliff
            </li>
            <li>
                Andrew Chen
            </li>
            <li>
                Kenji Yamada
            </li>
            <li>
                Paul Ivanov
            </li>
            <li>
                Rodney Blackwell
            </li>
            <li>
                Andrew Leonard
            </li>
            <li>
                Jason Moore
            </li>
            <li>
                Jason Aller
            </li>
            <li>
                Jeff Shaw
            </li>
            <li>
                Lauren Giles
            </li>
            <li>
                Scott Meehleib
            </li>
            <li>
                Otis the dog
            </li>
            <li>
                Nick Schmalenberger
            </li>
            <li>
                Rob Roy
            </li>
            <li>
                Sheryl Schaffner
            </li>
            <li>
                Ryan Massie
            </li>
            <li>
                Blair Baldwin
            </li>
            <li>
                Charles McLaughlin
            </li>
            <li>
                Michelle Palmer
            </li>
            <li>
                Charles Roberson
            </li>
            <li>
                Jeff Tolentino
            </li>
            <li>
                Eugene Eric Kim
            </li>
            <li>
                Ryan Wold
            </li>
            <li>
                Davis Bike Collective
            </li>
            <li>
                amelia gray
            </li>
            <li>
                Scott Lay
            </li>
            <li>
                Aaron Christopher Cohen
            </li>
            <li>
                Darach Miller
            </li>
            <li>
                Jose D Lopez
            </li>
            <li>
                Dina Biscotti and Siva Gunda
            </li>
            <li>
                David Dickson
            </li>
            <li>
                Sharon Zimmerman
            </li>
            <li>
                Christine Hjelmfelt
            </li>
            <li>
                The Domes
            </li>
            <li>
                Craig Blomberg
            </li>
            <li>
                Emily Tung
            </li>
            <li>
                Cobalt Salon &amp; Gallery
            </li>
            <li>
                Dan Ryan
            </li>
            <li>
                Simon Fung
            </li>
            <li>
                Ian Leary
            </li>
            <li>
                Efrem Rensi
            </li>
            <li>
                Princess N' Aaron Curtin
            </li>
            <li>
                Nicholas Barry
            </li>
            <li>
                Doug Beeferman
            </li>
            <li>
                Bernadette Balics
            </li>
            <li>
                Paige Craig
            </li>
            <li>
                Denise Jago
            </li>
            <li>
                Mal Jago
            </li>
            <li>
                Tony Finnis
            </li>
            <li>
                Diane Cary
            </li>
            <li>
                Wyatt Pearsall
            </li>
            <li>
                Erie Vitiello
            </li>
            <li>
                Craig Brozinsky
            </li>
            <li>
                Zac Morris
            </li>
            <li>
                Diane C Murphey
            </li>
            <li>
                Saroja Subrahmanyan
            </li>
            <li>
                Robert Schanafelt
            </li>
            <li>
                Chris Lambertus
            </li>
            <li>
                Brian Fong
            </li>
            <li>
                Davis Bike Collective
            </li>
            <li>
                Paul Lanzi
            </li>
            <li>
                Alex Darocy
            </li>
            <li>
                Danae and Mike
            </li>
            <li>
                Julia
            </li>
            <li>
                Max Mikalonis
            </li>
            <li>
                Oliver Fiehn
            </li>
            <li>
                Jonathan Eisen
            </li>
            <li>
                Eugenia Harris
            </li>
            <li>
                Jess Kerlin
            </li>
            <li>
                Randy Thornton
            </li>
            <li>
                Greg Zaller
            </li>
            <li>
                Jacob Zaller
            </li>
            <li>
                Keith Bradnam
            </li>
            <li>
                Dani Lee
            </li>
            <li>
                RobKelley
            </li>
            <li>
                Todd J. Green
            </li>
            <li>
                Robert McMurry
            </li>
            <li>
                Darin Wick
            </li>
            <li>
                Gretl Davis
            </li>
            <li>
                Margaret Rosas
            </li>
            <li>
                Andrew Potter
            </li>
            <li>
                Terra and Dan
            </li>
            <li>
                Rachel Ragatz
            </li>
            <li>
                Phoebe Ayers
            </li>
            <li>
                Dina
            </li>
            <li>
                Douglas Walter
            </li>
        </ul>
  </div>
  <div class="section supporters otherSupporters">
        <h2>Supporters</h2>
        <ul>
            <li>
                Josh Heller
            </li>
            <li>
                Nicole Aptekar
            </li>
            <li>
                Matt Lewis
            </li>
            <li>
                Terrana Cliff
            </li>
            <li>
                Kimberlie Kranich
            </li>
            <li>
                Michael Andersen
            </li>
            <li>
                Lizzy
            </li>
            <li>
                Gary Neustrom
            </li>
            <li>
                Hannah Moore
            </li>
            <li>
                Stephen Fairclough
            </li>
            <li>
                Debra Van Sickle
            </li>
            <li>
                vinh pham
            </li>
            <li>
                William Lewis
            </li>
            <li>
                Evan Edwards
            </li>
            <li>
                Bahareh Abhari
            </li>
            <li>
                Yawen Chen
            </li>
            <li>
                Tom Garberson
            </li>
            <li>
                Kristen Birdsall
            </li>
            <li>
                Erin Digitale
            </li>
            <li>
                Carlos Barahona
            </li>
            <li>
                Bliss Bruen
            </li>
            <li>
                JoePomidor
            </li>
            <li>
                Geoff
            </li>
            <li>
                Mike Linksvayer
            </li>
            <li>
                Adam Wennhold
            </li>
            <li>
                Brent Laabs
            </li>
            <li>
                Ryan Deussing
            </li>
            <li>
                Sue Hjerpe
            </li>
            <li>
                Marilyn Maciel
            </li>
            <li>
                Dagon Jones
            </li>
            <li>
                Roberta
            </li>
            <li>
                David Vernon
            </li>
            <li>
                Lee Yeung
            </li>
            <li>
                Kalen Gallagher
            </li>
            <li>
                Ben Antonius
            </li>
            <li>
                Victor Zapanta
            </li>
            <li>
                Amy Zimmerman
            </li>
            <li>
                Don and Vi Schaffner
            </li>
            <li>
                Dewitz
            </li>
            <li>
                York Ng
            </li>
            <li>
                Eric Toscano
            </li>
            <li>
                Kika
            </li>
            <li>
                Benny Brown
            </li>
            <li>
                Matteo Mattone
            </li>
            <li>
                Stephanie Thrasher
            </li>
            <li>
                Luke Grecki
            </li>
            <li>
                Dale Kunce
            </li>
            <li>
                Smit Shah
            </li>
            <li>
                Nihar Shah
            </li>
            <li>
                Clara
            </li>
            <li>
                Maia
            </li>
            <li>
                Christian Kang
            </li>
            <li>
                Rick
            </li>
            <li>
                Tara Nonymous
            </li>
            <li>
                Leslie Madsen-Brooks
            </li>
            <li>
                Emily Goyins
            </li>
            <li>
                Kathleen
            </li>
            <li>
                Matt Jurach
            </li>
            <li>
                Sally Hensel
            </li>
            <li>
                Laura Wynholds
            </li>
            <li>
                Cheyenne Cary
            </li>
            <li>
                Yumiko
            </li>
            <li>
                Brad Benedict
            </li>
            <li>
                Olivia Youngers
            </li>
            <li>
                June Huang
            </li>
            <li>
                Craig Wells
            </li>
            <li>
                Nico Linesch
            </li>
            <li>
                Wrye Sententia
            </li>
            <li>
                Kurt Vaughn
            </li>
            <li>
                Bonnie Bilger
            </li>
            <li>
                Monica Vaz
            </li>
            <li>
                Besha Grey
            </li>
            <li>
                Peter Boulay
            </li>
            <li>
                Mikkel Marius Winther
            </li>
            <li>
                Megan Clements
            </li>
            <li>
                Kao Saechao
            </li>
            <li>
                Sharon Shewmake
            </li>
            <li>
                Tree
            </li>
            <li>
                Robert Barat
            </li>
            <li>
                Overland Music Distributors
            </li>
            <li>
                Aezlo
            </li>
            <li>
                Sugar Ray
            </li>
            <li>
                Kevin Chuc
            </li>
            <li>
                Dave Menninger
            </li>
            <li>
                Ippie
            </li>
            <li>
                Brian
            </li>
            <li>
                Jesse Woo
            </li>
            <li>
                Paul Lopes
            </li>
            <li>
                Liz Ernst
            </li>
            <li>
                Sarah White
            </li>
            <li>
                Sarah Manley
            </li>
            <li>
                Ashley Smith
            </li>
            <li>
                Yogesh Simmhan
            </li>
            <li>
                Joady
            </li>
            <li>
                Peter Holmes a Court
            </li>
            <li>
                Ted Buehler
            </li>
            <li>
                Divonne Holmes a Court
            </li>
            <li>
                Jane
            </li>
            <li>
                Zak Clark
            </li>
            <li>
                Tobin Fricke
            </li>
            <li>
                Hendrik
            </li>
            <li>
                Anthony Bruce
            </li>
            <li>
                Barbara Mckee
            </li>
            <li>
                Christopher Michael
            </li>
            <li>
                Dorai Thodla
            </li>
            <li>
                Christopher Stollery
            </li>
            <li>
                Mort Clark
            </li>
            <li>
                Michael Milman
            </li>
            <li>
                Cindy Goode
            </li>
            <li>
                Anna Kostecke
            </li>
            <li>
                Andrew Frishman
            </li>
            <li>
                Jasmine Carlisle
            </li>
            <li>
                Kathy
            </li>
            <li>
                Rosanna Yau
            </li>
            <li>
                Kris Bulman
            </li>
            <li>
                Daniel Tancredi
            </li>
            <li>
                Alex Tafreshi
            </li>
            <li>
                Tori
            </li>
            <li>
                Kevin Hawkins
            </li>
            <li>
                Virginia Matzek
            </li>
            <li>
                Elle Cayabyab Gitlin
            </li>
            <li>
                Melanie Holmes
            </li>
            <li>
                Michael Trice
            </li>
            <li>
                Jamin Horn
            </li>
            <li>
                Bernard Kreissman
            </li>
            <li>
                Bev Sykes
            </li>
            <li>
                Scott Weintraub
            </li>
            <li>
                Stuart Thomas
            </li>
            <li>
                Joyce Maguire
            </li>
            <li>
                Nancy Wilson
            </li>
            <li>
                Abbie
            </li>
            <li>
                Michael Johnston
            </li>
            <li>
                Mike Adams
            </li>
            <li>
                Jessica Winter
            </li>
            <li>
                Steve
            </li>
            <li>
                Michelle Kang
            </li>
            <li>
                Gordon Windeyer
            </li>
            <li>
                Sunny Grace
            </li>
            <li>
                William Gray
            </li>
            <li>
                Max Yaffa
            </li>
            <li>
                Simon
            </li>
            <li>
                Nirgunan Tiruchelvam
            </li>
            <li>
                Con Karson
            </li>
            <li>
                Ben Gray
            </li>
            <li>
                Geoff Ball
            </li>
            <li>
                Ivan
            </li>
            <li>
                Mark Flitcroft
            </li>
            <li>
                Misty
            </li>
            <li>
                A Roach
            </li>
            <li>
                Anton Pound
            </li>
            <li>
                Derrick
            </li>
            <li>
                Gavin Payne
            </li>
            <li>
                Katharine
            </li>
            <li>
                Sandy
            </li>
            <li>
                Paul Siegel
            </li>
            <li>
                Eric Blosch
            </li>
            <li>
                Mehdi Vahab
            </li>
            <li>
                Rachel Rogers
            </li>
            <li>
                Emmy Melton
            </li>
            <li>
                Roberta M.
            </li>
            <li>
                Jonathan London
            </li>
            <li>
                Nori
            </li>
            <li>
                Matt Quan
            </li>
            <li>
                Itay Neta
            </li>
            <li>
                Cressida Downey
            </li>
            <li>
                Lois
            </li>
            <li>
                Harry Spanglet
            </li>
            <li>
                Tim Kerbavaz
            </li>
            <li>
                jodi morrison
            </li>
            <li>
                Hank Childs
            </li>
            <li>
                Joseph
            </li>
            <li>
                Yell
            </li>
            <li>
                Zach Short
            </li>
            <li>
                Kevin Liu
            </li>
            <li>
                Francoise
            </li>
            <li>
                MichelleAccurso
            </li>
            <li>
                Joel
            </li>
            <li>
                Meredith Clark
            </li>
            <li>
                Gabriel Goldstein
            </li>
            <li>
                stu nash
            </li>
            <li>
                Terry Bellerby
            </li>
            <li>
                Jamie
            </li>
            <li>
                Monique Logan
            </li>
            <li>
                Andrew Logan
            </li>
            <li>
                Sam Logan
            </li>
            <li>
                Emily Logan
            </li>
            <li>
                Jessica Lao
            </li>
            <li>
                Erik Magnuson
            </li>
            <li>
                Allison
            </li>
            <li>
                Julian Hofer
            </li>
            <li>
                Eric Lee
            </li>
            <li>
                Tom Denton
            </li>
            <li>
                Malcolm
            </li>
            <li>
                Tomasz
            </li>
            <li>
                Linda
            </li>
            <li>
                Amy Catania
            </li>
            <li>
                Charlotte Goodenough
            </li>
            <li>
                Rob Gysel
            </li>
            <li>
                Derek Downey
            </li>
            <li>
                Mei-Lyn Peterson
            </li>
            <li>
                Mike Bellamy
            </li>
            <li>
                Craig Brady
            </li>
            <li>
                Nathanael Bettridge
            </li>
            <li>
                Bronte Brodie
            </li>
            <li>
                Leighton T. Izu
            </li>
            <li>
                Irina Udaltsova
            </li>
            <li>
                Rubaiyat Shatner
            </li>
            <li>
                Marcin
            </li>
            <li>
                Anonymous
            </li>
            <li>
                Michele
            </li>
            <li>
                Alex Mandel
            </li>
            <li>
                Bartlett D. Moore
            </li>
            <li>
                H P Stanley
            </li>
            <li>
                Michelle Maranta
            </li>
            <li>
                Kim Helmbold
            </li>
            <li>
                Katherine Lee
            </li>
            <li>
                Andrew Woo
            </li>
            <li>
                Amy Hereford
            </li>
            <li>
                Petrea Marchand
            </li>
            <li>
                Laura Wardrip
            </li>
            <li>
                Girts Folkmanis
            </li>
            <li>
                James Allen
            </li>
            <li>
                Matt Frauenfelder
            </li>
            <li>
                Norbert
            </li>
            <li>
                Dawei Lin
            </li>
            <li>
                Pete Forsyth
            </li>
            <li>
                Teruko Matsumura
            </li>
            <li>
                Cindy Spann
            </li>
            <li>
                Kati Wu
            </li>
            <li>
                Christy Marsden
            </li>
            <li>
                Wes Hardaker
            </li>
            <li>
                Rebecca Newton
            </li>
            <li>
                Regina Gelfovision
            </li>
            <li>
                Nathan Storey
            </li>
            <li>
                Brien Croteau
            </li>
            <li>
                Emmanuel Smith
            </li>
            <li>
                Brad Nickel
            </li>
            <li>
                April Johnson
            </li>
            <li>
                Mike &amp; Raven Pence
            </li>
            <li>
                Kim Summerlin
            </li>
            <li>
                Patty Couse-Baker
            </li>
            <li>
                Christy Gurga
            </li>
            <li>
                Dan Sullivan
            </li>
            <li>
                Samuel Cole
            </li>
            <li>
                Luke Burns
            </li>
            <li>
                Teresa Kenny
            </li>
            <li>
                Noah Leslie
            </li>
            <li>
                Nick
            </li>
            <li>
                Dmitri Kozhevnikov
            </li>
            <li>
                Alessandra Rachid
            </li>
            <li>
                Chirakkal Easwaran
            </li>
            <li>
                chelsea gai
            </li>
            <li>
                Molly Reagh
            </li>
            <li>
                Charles Gasser
            </li>
            <li>
                Deborah Morgenthal
            </li>
            <li>
                Weremoose
            </li>
            <li>
                Jana Gutierrez
            </li>
            <li>
                Kelly Heung Del Favero
            </li>
            <li>
                bart
            </li>
            <li>
                Manu Järvinen
            </li>
            <li>
                Eric Sinclair
            </li>
            <li>
                Richard Osborn
            </li>
            <li>
                Ken Gagne
            </li>
            <li>
                Kristen Cox
            </li>
            <li>
                Cassandra Paul
            </li>
            <li>
                Aidan Sheridan
            </li>
            <li>
                Judy Robertson
            </li>
            <li>
                Andrew Tritt
            </li>
            <li>
                Lee Li Lian
            </li>
            <li>
                Monica Nolte
            </li>
            <li>
                Greg Hirson
            </li>
            <li>
                Julie
            </li>
            <li>
                Elizabeth Caravati
            </li>
            <li>
                Russell Neches
            </li>
            <li>
                Erik Boertjes
            </li>
            <li>
                Tim Jarratt
            </li>
            <li>
                Spencer Sevilla
            </li>
            <li>
                Dan May
            </li>
            <li>
                Rovie Cabebe
            </li>
            <li>
                Travis
            </li>
            <li>
                Michael Clifford
            </li>
            <li>
                Jonathon Leathers
            </li>
            <li>
                Lisette Walker
            </li>
            <li>
                Alice Neels
            </li>
            <li>
                Andrew
            </li>
            <li>
                Bruce Chalk
            </li>
            <li>
                Kevin
            </li>
            <li>
                Naiche Lujan
            </li>
            <li>
                Mikos Fabersunne
            </li>
            <li>
                Myles Grant
            </li>
            <li>
                Julia Svoboda
            </li>
            <li>
                Brian Neal
            </li>
            <li>
                Geetika
            </li>
            <li>
                Alicia
            </li>
            <li>
                Amy Ryan
            </li>
            <li>
                Jen K
            </li>
            <li>
                Gabriel Guillen
            </li>
            <li>
                FeyNouveau
            </li>
            <li>
                Jennifer Gallacher
            </li>
            <li>
                Ruth
            </li>
            <li>
                Ryan Mikulovsky
            </li>
            <li>
                Bridget O'Flaherty
            </li>
            <li>
                Dennis Dingemans
            </li>
            <li>
                Sheryl Stillman
            </li>
            <li>
                Ryan Tucker
            </li>
            <li>
                Michael Figlock
            </li>
            <li>
                Margaret Griffin
            </li>
            <li>
                Kefeng Tan
            </li>
            <li>
                Bill Johnston
            </li>
            <li>
                Paul Stucky
            </li>
            <li>
                Dmitri Ivanov
            </li>
            <li>
                Tarisha Bal
            </li>
            <li>
                Sarah Davis
            </li>
            <li>
                Marion Cate
            </li>
            <li>
                Richard E. Rominger
            </li>
            <li>
                Carol Ballinger
            </li>
            <li>
                Jen Dockter
            </li>
            <li>
                Boetter
            </li>
            <li>
                Cheryl Kysh
            </li>
            <li>
                Junia Kerr
            </li>
            <li>
                Salim Mhunzi
            </li>
            <li>
                Joshua Stylman
            </li>
            <li>
                Liking
            </li>
            <li>
                Jenn
            </li>
            <li>
                Faye Ashley
            </li>
            <li>
                Amber Boydstun
            </li>
            <li>
                Brett Lee
            </li>
            <li>
                Garrett Pauls
            </li>
            <li>
                Janna
            </li>
            <li>
                Carol Eckersen
            </li>
            <li>
                Quenby Lum
            </li>
            <li>
                Liz Noppinger
            </li>
            <li>
                Dimitry Chamy
            </li>
            <li>
                Irina Chakraborty
            </li>
            <li>
                Luke Mawhinney
            </li>
            <li>
                Jonah Frohlich
            </li>
            <li>
                <a href="https://www.zipdx.com/">
                <div class="name">
                    ZipDX
                </div> </a>
            </li>
        </ul>
  </div>

</div>
{% endblock %} 
