<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}LocalWiki - The open-content, open-source effort to share the world's local knowledge{% endblock %}</title>
        <link href='{{ STATIC_URL }}css/reset.css' rel='stylesheet' type='text/css'>
        <link href='{{ STATIC_URL }}css/new_splash.css' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="/static/img/tinylogo_tiny2.png" type="image/png" />
        <script type="text/javascript" src="http://use.typekit.com/wyu4phv.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <link rel=alternate type="application/rss+xml" href="/feeds/latest" title="LocalWiki blog RSS feed">
        <script type="text/javascript">
	    	var _gaq = _gaq || [];
	    	_gaq.push(['_setAccount', 'UA-25465476-3']);
	    	_gaq.push(['_trackPageview']);
	    	(function() {
	    		var ga = document.createElement('script');
	    		ga.type = 'text/javascript';
	    		ga.async = true;
	    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    		var s = document.getElementsByTagName('script')[0];
	    		s.parentNode.insertBefore(ga, s);
	    	})();
        </script>
    </head>
    <body>
        <a href="http://github.com/localwiki/localwiki" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>
        <div class="header">
            {% include "nav.html" %}
            <a href="/"><img src="{{ STATIC_URL }}img/logo.png" style="border: none;" alt="LocalWiki"></a>
        </div>
        <div class="{% block contentClass %}content{% endblock %}">
            {% block content %}{% endblock %}
            <div class="section bottom">
                <div class="links">
                    <div class="supporters">
                        <h2>Supported by</h2>
                        <ul>
                            <li>
                                <a href="http://www.knightfoundation.org/" target="_blank"><img src="{{ STATIC_URL }}img/kflogo.png"></a>
                            </li>
                            </li>
                            <li>
                                And <a href="/about">over 400 individual backers</a>
                            </li>
                            </li>
                        </ul>
                    </div>
                    <div class="code">
                        <h2>Get the code</h2>
                        <div class="getcode"><img src="{{ STATIC_URL }}img/osi_grayscale.png"/>
                            <p>
                                Our software is free and open-source.  Check out our <a href="http://code.localwiki.org">developer site</a> for detailed instructions about how to get the software and contribute.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="about">
                    <h2>Our story</h2>
                    <p>
                        In 2004 we started the <a href="http://daviswiki.org">Davis
                        Wiki</a>, an experimental project to collect and share interesting
                        information about the town of Davis, California, editable by anyone,
                        that soon became the world's largest and most vibrant community wiki.
                    </p>
                    <p>
                        Today the residents of Davis use it for everything from learning
                        about <a
                        href="http://daviswiki.org/March_4%2C_2010_Public_Education_protest">local
                        news</a> and <a href="http://daviswiki.org/Tank_house">local history</a> to
                        helping return <a href="http://daviswiki.org/Lost_pets">lost pets</a> to
                        their owners &mdash; and it's become the largest, most used media source
                        in the city. In a week, nearly half of residents use the Davis Wiki; in a
                        month, nearly everyone uses it. And <strong>1</strong> in <strong>7</strong>
                        residents <strong>contribute</strong> material to the Davis Wiki.
                    </p>
                    <p>
                        We want to help as many communities as possible
                        realize the full potential of such an amazing, collaborative information
                        resource.
                    </p>
                </div>
            </div>
        </div>
        <div class="footer">
            {% include "nav.html" %}
            <div class="note">
                <p>
                    For questions, media inquiries or, well, just about anything,
                    email <a href="mailto:contact@localwiki.org">contact@localwiki.org</a>.
                </p>
                <p>
                    We are a 501(c)3 non-profit organization. Content on this site is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 Unported License</a>.
                </p>
            </div>
        </div>
    </body>
</html>
