<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<meta name="description" content="Local Wiki"/>
<link rel="image_src" href="http://localwiki.org/static/img/big_logo.png" / >
 
<meta name="keywords" content="Local, Wiki, Local Wiki, Davis, Wiki, DavisWiki, Davis Wiki, Philip Neustrom, Knight Foundation, News" /> 
 
<link rel="stylesheet" type="text/css" href="/static/css/screen.css?v=2" />
<link rel="stylesheet" href="/static/css/typefaces.css" type="text/css" media="screen" />
<link rel="shortcut icon" href="/static/img/tinylogo_tiny2.png" type="image/png"/>
	
<title>LocalWiki - FAQ</title>
	
</head>

<body>

<div id="everything">

	<div id="header">
		<a href="/"><img src="/static/img/logo.png"/></a>
	</div>
	
	<div id="transparent">
	</div>
	
	<div id="slogan">
		<h1>Connecting the people, places and events that shape our communities.</h1>
	</div>
	
	<div id="mainGeneral">
                <div style="padding:1.4em; padding-top: 2.2em; padding-bottom: 80px">

<h1>Frequently Asked Questions</h1>

<h2>What is LocalWiki?</h2>

<p>
LocalWiki is a project to create a new form of local media that makes it easy for people to learn--and share their own unique knowledge--about their 
local community. We call this new medium a local wiki. Members of the community will be able to create articles about anything they like, upload photos 
and other files, and anyone can edit articles to make them better.
</p>

<p>
The LocalWiki project will create the specialized open-source software that makes the new media possible, establish and guide deployment in several 
"pilot" communities, and experiment with models for replicating and sustaining many more successful local wikis.
</p>

<h2>Who is behind the project?</h2>

<p>
Philip Neustrom and Mike Ivanov are the co-founders of Davis Wiki, the first and now largest local community wiki. Nearly every resident uses the wiki 
during the course of a month, and 1 in 7 contributes to the wiki at some point during the year. More Davisites visit the wiki on a daily basis than read 
the local papers.
</p>
<p>
After seeing the incredible positive impact of the Davis Wiki on the community of Davis, California, as well as the difficulties other communities 
experience in starting similar efforts, we decided to put our abilities and experience into LocalWiki and help create an entirely sort of vibrant, 
collaborative local media.
</p>
<p>
More concretely, the LocalWiki project is a part of Wiki Spot, a 501(c)3 non-profit we formed out of the work we did in Davis on the Davis Wiki.
</p>

<h2>What is a 'wiki'?</h2>

<p>
A wiki is a linked set of web pages which anyone can edit and expand. This freedom allows for unique expression and helps foster interesting and new 
ideas in an organic and very dynamic way. If you see something you think is inaccurate or incorrect, you have the power to change it, as do all of the 
other editors. If you see that something is incomplete, you can add more information. You can also create completely new content and tie it into the 
rest of the site.
</p>
<p>
Likewise, others have the power to veto your changes. It is a delicate balance but one which ultimately leaves the community itself with the content 
they most want.
</p>

<h2>Ah, so you just want to set up wikis for various local communities?</h2>

<p>
No! With the right software, creating a generic wiki is easy. What is most difficult is growing both the content and user community around the wiki to 
make it a unique, useful, and self-sustaining public resource. Aside from developing a new kind of wiki software, the LocalWiki.org project will 
actively help local communities to develop, launch, and sustain local wiki projects. To do this, we will work with interested and committed individuals 
in various communities to establish a number of pilot projects. We will provide them with the support and guidance they need to get their projects off 
the ground, record and share everything we learn in the process, and apply those lessons learned to subsequent pilots.
</p>

<h2>Sort of like a "Wikipedia for local communities?"</h2>

<p>
That's a good analogy! But we are aiming for something very different and much more specialized than what exists on Wikipedia. We envision a local 
resource that serves more purposes besides being an encyclopedia: listing historical and interesting information on local organizations, discussing 
local political issues and events, helping community members connect--serving many ad-hoc information needs the community has. The Davis Wiki, for 
example, has a page for students who are looking for roommates and another page for lost pets. In fact, the non-"encyclopedic" content is what makes it 
such a unique resource--sort of a giant, collaborative community bulletin board.
</p>

<h2>Can't anyone just start a blog for their local community? My community already has local blogs. How would this help us?</h2>

<p>
Local blogs are very important, but they are controlled and written by a small number of individuals and reflect the interests and opinions of their 
authors. In addition, blog entries only capture a moment in time and are relevant for a relatively short time. New entries push older content into the 
blog's archives, where it gets out of date and becomes difficult to find. In this sense, local blogs are a lot like newspapers -- constantly churning 
out new facts.
</p>

<p>
A local wiki will not only allow every member of the community to share his or her knowledge and voice his or her interests and opinions but also 
integrate that information into a cohesive resource will provide the full context behind the people, places and events that shape our local communities. 
And unlike blogs, which may stall or disappear completely if the author simply loses interest, this information will remain freely accessible 
indefinitely.
</p>

<h2>How does this fit alongside other local media like blogs, newspapers, radio, etc?</h2>

<p>
Our project is a new form of local media that will offer an alternative to the es- tablished sources of information. Because anyone can contribute to 
it, it will become a more comprehensive resource about certain aspects of the local com- munity than blogs, newspapers, radio, and so on.
</p>

<p>
This new form of local media will not completely replace traditional news and information sources, but where it will really shine compared to existing 
media is in pulling together information from different sources and contributors to pro- vide the full context behind the people, places and events that 
shape our com- munities.
</p>

<h2>Who will decide what's allowed on one of these local wikis?</h2>

<p>
As with most things on a local wiki, the community will decide! Every local wiki will have a page about the content have a page about the content 
guidelines, maintained by community, that will reflect the consensus about how to behave and what's considered acceptable and objectionable. Anyone will 
be able to make an edit or delete content, and if their changes are considered harmful, others can step in and undo them.
</p>

<p>
Nevertheless, we will select a core group of dedicated individuals to steward and champion the growth of each pilot community.
</p>

<h2>Isn't it potentially dangerous to let anyone say or delete anything they want?</h2>

<p>
It can seem at first like a bad idea to let everyone edit anything. But, as it turns out, this potential danger almost never realizes. The most 
important principle is to be respectful of others, and for the most part this alone is enough to overcome any misunderstandings. If someone is being 
malicious, however, the software makes it very easy to undo any destructive or offensive changes. So easy, in fact, that it takes less effort and time 
to restore an article than it takes someone to vandalize it.
</p>

<h2>Who owns each local wiki and its content?</h2>

<p>
One of the absolutely essential aspects of a local wiki is that the community owns the resource, and that the content is freely available to all. The 
content of a local wiki will be licensed under the Creative Commons Attribution-By license. This means that every editor who puts work onto the local 
wiki, whether it be text or images, gives anyone the right to do whatever he or she would like with the material. The only restriction being that if you 
distribute the content you must give attribution to the creators of the content or the community wiki itself. We feel this is the best way to foster an 
environment where information and ideas can be shared and used as easily as possible by the most people for the longest period of time.
</p>

<h2>So, is this just generic wiki software you're using for this?</h2>

<p>
The software to make our vision possible does not yet exist. As part of the project, we will create a new kind of wiki software built from the ground up 
specifically for local communities.
</p>

<p>
We are not aiming to create yet another general-purpose wiki software to add to the many options out there. Our software will be specifically designed 
for the needs of a local community wiki--a new type of software and the only one of its kind. We will take great care to make the software easy to use 
for the greatest number of contributors. We will add features that are useful to local communities, such as collaborative mapping, a new "timeline" view 
to allow the wikis to be read for current and past news, and mobile viewing and editing. Just as importantly, in order to keep the software as simple 
and easy to use as possible, we will not implement features found in other wiki software that local communities do not need.
</p>

<p>
In order to sustain a vibrant local wiki, we will need a high level of contribution from the wider community. On Wikipedia, only 0.02% of those who 
visit the website end up contributing. On the Davis Wiki, one in seven residents contribute to the wiki every year. Even from a strict usability 
perspective, we believe that the software powering Wikipedia is not appropriate for the high level of contribution we feel is essential for a local 
resource.
</p>

<h2>What technologies will your software use?</h2>

<p>
The LocalWiki.org software will be written entirely using open-source tools and components. It will be built using the Python programming language, and 
it will take advantage of open-source projects such as the Django web framework, GeoDjango mapping framework, OpenStreetMap, CKEditor, jQuery, and 
others.
</p>

<h2>When will your software become available?</h2>

<p>
We will be developing the software entirely in the open from the start.  Sign up (using the "Help out & Get more info" box) on the homepage and we'll send you an email in a month or so when we get really started on this.  Right now we are in fundraising mode.
</p>

<h2>How will you get people to begin contributing to the local pilot projects?</h2>

<p>
No one knows a local community like the people who live there. LocalWiki.org will work directly with interested, dedicated, and capable individuals in 
the local communities to guide them through the process of starting and building up a local wiki. We will advise them on what types of content have been 
most successful in previous projects, give them ideas about ways to organize the content, share other insights, and help them connect with other helpful 
individuals and organizations. In turn, the community members running the pilot projects will make all decisions about what information is interesting 
and useful to their respective communities and will create the initial pages.
</p>

<h2>How much effort will you have to put into starting these pilots? How will they be sustained?</h2>

<p>
One of they key benchmarks for measuring our success will be how much effort is required from us to start each new pilot project. If we are successful, 
the amount of effort will be less and less as more pilots open.
</p>

<p>
When starting the Davis Wiki, only a small fraction of our time was spent creating and organizing content, marketing, and recruiting people to help us. 
What we found was that a group of people emerged very early on (people we did not know before) who "got it": they understood the concept and vision and 
took ownership of the project. We encouraged these active users, listened to their input, and empowered them to make decisions and gradually take on 
more responsibilities. These users are largely responsible for contributing innovative content, organizing the flood of information into a cohesive, 
structured whole, and educating newcomers. Within a short time the effort these people put in outweighed our own personal efforts and we found that we 
no longer needed to intervene to help the project grow and evolve.
</p>

<p>
Today, the only thing we need to do to keep the Davis Wiki going is keep the server running--the community quite literally runs the project itself. We 
expect to see a similar pattern in our pilots: people who take it upon themselves to get involved and help their local project succeed, and our role as 
well as the role of our outreach coordinator will be to encourage and support these people. In the long term, we expect active users in successful pilot 
communities to take part in contributing to the knowledge base we build up and supporting new projects, requiring less and less labor on our part.
</p>

<h2>Will you work with local media / news organizations?</h2>

<p>
We plan to partner with local news organizations in one or more of our pilots. We believe our new form of local media provides an excellent compliment 
to the "new facts, new facts, new facts" nature of newspapers and local blogs. Which communities will you target for the pilots?
</p>

<p>
Selecting a pilot community will depend on many factors. We will consider the population size, demographics, availability of local news and information 
media, geographic location, and more, in order to validate our project in a variety of different communities. Most importantly, we will need to find a 
few individuals in the community who have the interest, abilities, contacts, and time to dedicate to their local pilot. We will prefer those communities 
where we can find such individuals over otherwise attractive communities.
</p>

<h2>Can my community be a pilot?</h2>

<p>Possibly!  Please fill out <a href="http://localwiki.org/pilot_recommendation/">our pilot recommendation form</a> -- we'll get in contact in a bit.</p>
<p>If we meet our fundraising goal then we will be able to take on many pilot communities rather than simply 2-3.  Please <a href="http://www.kickstarter.com/projects/455852114/localwiki-bring-collaborative-local-media-to-every/pledge/new">pledge today to make this a reality!</a></p>

<p>
We will start working with pilot communities at the 3 month point, when the first version of our software is ready. The pilot projects will begin to 
open, progressively, up to the public several months after they're started.
</p>

<h2>Currently, how big is your organization?</h2>

<p>
We are currently a new, very small 501(c)3 non-profit. The LocalWiki project will represent the primary purpose of our organzation. Our 
organization, Wiki Spot, was formed to with the mission of helping groups of people collaborate. The organization grew out of work we did in Davis, 
California with the Davis Wiki.
</p>

<h2>How will you sustain the organization?</h2>

<p>
One of the goals of the LocalWiki.org project, in addition to sustaining the creation of local content in communities, is to find ways of financially 
sustaining the individual local wikis as well as the larger organization. On the local level, we will build features into the software to facilitate 
fundraising and directing the funds within the community. For sustaining the overall organization, we have several ideas aside from simple donations , 
including apaid membership system, like a cooperative.
</p>

<p>
We believe that we could fundraise $30,000-$60,000 in Davis on a yearly basis with a modest investment in fundraising. With yearly expenses of $230,000, 
we would require only a little over $15,000 from 15 communities to be fully independent of foundation and corporate grants.
</p>

<p>
In addition to direct donations from individuals, we plan on exploring a verified member system that allows individuals, in addition to maintaining a 
typical user account, to "join" as verified members by making a donation to the organization. In return for joining, they would receive an indicator 
that they were verified and would be permitted to vote in various polls. We intend to explore ways of direct community voting (to allow the community to 
vote directly on matters relevant to administration of their project) and cooperative membership structures. Additionally, we plan to explore ways to 
allow for individuals to use this verified payment step to donate toward a larger "bounty" sum that they could direct toward various community 
information bounties throughout the year.
</p>

<p>
Such a verified member system would likely improve the quality and reputation of our content and allow us a potentially meaningful revenue source. 
Couchsurfing.com uses such a verified member system to improve reputation and fundraise nearly $1M annually.
</p>

<h2>How will you make sure other communities, outside of your pilots, are later able to replicate your successes?</h2>

<p>
Each new pilot project will serve as another example of a successful local community wiki. After a certain number of successful pilots, we will have 
built a network of groups dedicated to and knowledgeable of our mission, our goals, and our community-building techniques and best-practices. We also 
expect, after a number of pilots, to have developed an array of educational materials that make it increasingly easy for a new community to be 
successful. In essence, as a result of this project we will develop and refine a comprehensive, proven process that other communities can follow for 
starting a new local wiki and developing it into a vibrant, self-sustaining community information resource.
</p>

<h2>Has something like this been tried before?</h2>

<p>
What we propose has never been tried on the level we believe is necessary. In building specialized open-source software, working with pilot projects in 
several communities, compiling a knowledge base about growing local community wikis, and creating an organization that will support future development 
of local community wikis, we are taking a completely new approach. At the core, we are going to demonstrate an entirely new model for local community 
media build around mass collaboration and complete community control.
</p>


                </div>
                <div id="footer" style="margin-top: -5em;">
		{% include "nav.html" %}
		<div class="note">
			<p>For questions, media inquiries or, well, just about anything, email <a href="mailto:contact@localwiki.org">contact@localwiki.org</a>.</p>
<p>{#Supported by a Knight News Challenge grant from the <a href="http://knightfoundation.org">John S. and James L. Knight Foundation</a>.#} We are a 501(c)3 non-profit organization. Content on this site is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 Unported License</a>.</p>
		</div>
                </div>
	</div>

</div>

</body>

</html>
