{% extends "base.html" %}

{% block contentClass %}content front{% endblock %}

{% block content %}
<div class="highlight">
<span>
Check out <a href="http://localwiki.org/first_year/" target="_blank">the report on our first year!</a>
</span>
</div>

<div class="section download">
    <div class="video">
        <iframe
        src="http://player.vimeo.com/video/32534830?title=0&amp;byline=0&amp;portrait=0" width="460" height="293" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
    </div>
    <div class="blurb right">
        <h2>The open-content, open-source effort to share the world's local knowledge</h2>
        <p>
        That's our vision. <a href="https://guide.localwiki.org/Communities" target="_blank">Find a LocalWiki project</a> in your area and collaborate with others to make it happen.
        </p>
        <a href="https://guide.localwiki.org/Communities" class="big_button" target="_blank">Find a project near you</a>
    </div>
</div>
<div class="section vision">
    <div class="blurb right">
        <a href="{% url install %}" class="big_button">Install LocalWiki<sup>beta</sup></a>
    </div>
    <h2>Collaborative local media in every community</h2>
    <p>
        <a href="{% url install %}">Download and install</a> our free software and get started in your community today!
    </p>
</div>
<div class="section features">
    <div class="feature">
        <img class="left" src="{{ STATIC_URL }}img/features_edit.png"/>
        <div class="description">
            <h2>Editing for everyone</h2>
            <p>
                Simple and powerful editing that requires no training or
                technical knowledge.  Designed for accessibility and ease of use.
            </p>
        </div>
    </div>
    <div class="feature">
        <img class="right" src="{{ STATIC_URL }}img/features_map.png">
        <div class="description">
            <h2>Wikis with a sense of place</h2>
            <p>
                Beautiful editable maps give context to every article and
                let you explore your community visually.
            </p>
        </div>
    </div>
    <div class="feature">
        <img class="left" src="{{ STATIC_URL }}img/features_diff.png">
        <div class="description">
            <h2>Mass collaboration</h2>
            <p>
                Built-in versioning saves the history of
                every article, image, and map.  You can always see who made a change and exactly what was changed.
            </p>
        </div>
    </div>
    <div class="feature">
    <div class="blurb right">
        <a href="{% url install %}" class="big_button">Install LocalWiki<sup>beta</sup></a>
    </div>
    <h2>and so much more!</h2>
    <p>
        <a href="{% url install %}">Download and install</a> our free software to see for yourself.
    </p>
    </div>
</div>
<div class="section community_highlight">
    <div class="blurb right trans">
        <h2>Powered by LocalWiki</h2>
        <p>
            <strong><a href="https://trianglewiki.org"
            target="_blank">Triangle Wiki</a></strong>, our second focus
            community, serving the Raleigh-Durham region has launched!.
        </p>
        <p>
        Also check out the <strong><a href="https://dentonwiki.org"
            target="_blank">Denton Wiki</a></strong>, our first focus
            community!
            Many more local wikis are being built as we speak, all over the globe.
        </p>
    </div>
</div>
{% endblock %} 

{% block attributions %}
{{ block.super }}
<p>
<a href="https://trianglewiki.org/Carpenter_Farm_Supply_Complex" target="_blank">Carpenter Farm Supply Company</a> photo by <a href="https://trianglewiki.org/Hal_Goodtree" target="_blank">Hal Goodtree</a>.
</p>
{% endblock %}
