{% extends "base.html" %}

{% block content %}
<div class="page">

<div class="section overview">
    <h2 id="title">Recommend a focus community</h2> 
                <form enctype="multipart/form-data" method="POST" action="/pilot_recommendation/" id="pilot_recommendation">
{{ form.name.errors }}
                <p><label for="id_name">Your name:</label></p><p><input id="id_name" type="text" name="name" maxlength="200" {% if form.name.data %}value="{{form.name.data}}"{% endif%} /></p>
{{ form.email.errors }}
<p><label for="id_email">Your email:</label></p><p><input id="id_email_pilot" type="text" name="email" maxlength="200" {% if form.email.data %}value="{{form.email.data}}"{% endif %}/></p>
{{ form.place.errors }}
<p><label for="id_place">Town / City (please include state or country):</label></p><p><input id="id_place" type="text" name="place" maxlength="250" {% if form.place.data %}value="{{form.place.data}}"{% endif %}/></p>
{{ form.about.errors }}
<p><label for="id_about">Tell us about yourself and this community!  For example, who might work with you on this project?:</label></p><p><textarea id="id_about" rows="10" cols="40" name="about">{% if form.about.data %}{{form.about.data}}{% endif %}</textarea></p>
{{ form.photo.errors }}
<p><label for="id_photo">Attach a photo of something unique and interesting in your community!:</label></p><p><input type="file" name="photo" id="id_photo" /></p>
                <input type="submit" value="Submit!" id="pilot_submit"/> </form>
                </form>
                <br/>
   </div>
</div>
{% endblock %}
