<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<meta name="description" content="Local Wiki"/>
<link rel="image_src" href="http://localwiki.org/static/static_media/big_logo.png" / >
 
<meta name="keywords" content="Local, Wiki, Local Wiki, Davis, Wiki, DavisWiki, Davis Wiki, Philip Neustrom, Knight Foundation, News" /> 
 
<link rel="stylesheet" type="text/css" href="/static/css/screen.css?v=2" />
<link rel="stylesheet" href="/static/css/typefaces.css" type="text/css" media="screen" />
<link rel="shortcut icon" href="/static/static_media/tinylogo_tiny2.png" type="image/png"/>
	
<title>LocalWiki - Thanks!</title>
	
</head>

<body>

<div id="everything">

	<div id="header">
		<a href="/"><img src="/static/static_media/logo.png"/></a>
	</div>
	
	<div id="transparent">
	</div>
	
	<div id="slogan">
		<h1>Connecting the people, places and events that shape our communities.</h1>
	</div>
	
	<div id="mainGeneral">
                <div style="padding:1.4em; padding-top: 2.2em; padding-bottom: 80px;">
                <h1>Thanks!</h1>
	        <p>We'll keep in touch once we get started.</p>
                <p><strong>Please make a donation</strong> to help take this project to the next level.</p>
                <div class="donateAsk"><div class="donateButton"><a href="http://www.kickstarter.com/projects/455852114/localwiki-bring-collaborative-local-media-to-every/pledge/new"><img src="/static/static_media/button.png"/></a></div><a href="http://www.kickstarter.com/projects/455852114/localwiki-bring-collaborative-local-media-to-every/pledge/new">Pledge and help bring truly community-maintained media to every community!</a></div>
                </div>
                <div id="footer" style="margin-top: -5em;">
		{% include "nav.html" %}
		<div class="note">
			<p>For questions, media inquiries or, well, just about anything, email <a href="mailto:contact@localwiki.org">contact@localwiki.org</a>.</p>
		        {#<p>Supported by a Knight News Challenge grant from the <a href="http://knightfoundation.org">John S. and James L. Knight Foundation</a>. Content on this site is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 Unported License</a>.</p>#}
		</div>
                </div>
	</div>

</div>

</body>

</html>
